<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>
</head>
<body>
<div class="container text-center"></div>
<div><h1> welcome admin </h1></div>
<div class="p-2">
    <a class="h2" th:href="@{/categories}">List Categories</a>
</div>
<div class="p-2">
    <a class="h2" th:href="@{/products}">Products list</a>
</div>
<div class="p-2">
    <a class="h2" th:href="@{/users}">Users list</a>
</div>
<div class="p-2">
    <a class="h2" th:href="@{/orders}">Orders list</a>
</div>
</body>
</html>