<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Контактная Информация</title>
</head>
<head th:replace="common :: head"></head>
<body>
<div th:insert="~{common :: scripts}"></div>
<div th:replace="common :: navbar"></div>

<div id="container" class="container mt-5">
  <h5>Контактная информация</h5>
  <br>
  <p><b>Телефон:</b> +375(029) 777-77-77, +375(029) 696-66-23<br/>
    <b>E-mail:</b> shop@gmail.com</p>
  <br>
  <h6>Режим работы</h6>
  <p>Интернет магазин работает c 08:00 до 20:00 без перерыва. Без выходных<br/></p>
  <br>
  <h6>Доставка</h6>
  <p>Доставка заказов происходит через курьерскую службу</p>
</div>
<footer th:insert="~{common :: footer}"></footer>
</body>
</html>
